h1 {
	background-color: green;
	color: white;
	font-family: Lucida Console;
}

.titre2 {
	background-color: red;
	color: white;
	font-family: Courier New;
}

#p1	{
	color: green;
}
ul	{
	list-style-type: circle;
}